{% extends 'base.html.twig' %}

{% block title %}Adopte un alternant{% endblock %}

{% block body %}

<div class="container-fluid home-choice">

	{# 2 premiers blocs : accès candidat/entreprise #}
	<div class="row d-flex align-items-stretch home-choice mt-3">
        
            <a href="{{path('editorial')}}" class="col-md-5 mx-auto d-flex align-items-end candidate" >
                <p class="h3 text-center col-12 m-0">Je suis un candidat</p>
            </a>

            <a href="{{path('candidates_list')}}" class="col-md-5 mx-auto d-flex align-items-end recruiter" >
                <p class="h3 mx-auto m-0">Je suis une entreprise</p>
            </a>

	</div>

</div>
{% endblock %}
