* {
    box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    height: 80%;
}

.home-choice {
    height: 100%;
}

.recruiter {
    background-image: url('/docs/assets/recruiter.png');
    background-position: center;
    background-size: contain ;
    background-repeat: no-repeat;
    margin-bottom: 5rem;
    color: darkgrey;
}

.candidate {
    background-image: url('/docs/assets/candidate.png');
    background-position: center;
    background-size: contain ;
    background-repeat: no-repeat;
    margin-bottom: 5rem;
    color: darkgrey;
}

.recruiter:hover,
.candidate:hover {
    background-color: rgb(245, 244, 244);
    text-decoration: none;
    color:grey;
}

.profil {
    background-color:#343a40;
}

.profil:hover{
    background-color: grey;
}

.recruiter p,
.candidate p {
    background-color: white;
}

.recruiter:hover p,
.candidate:hover p {
    background-color: rgb(245, 244, 244);
}

.navbar-brand {
    font-size: 2rem;
    font-weight: bold;
    letter-spacing:-0.1rem;
    word-spacing: -0.4rem;
    text-transform: capitalize;
}

.footer-button {
    margin: 1rem;
}

.home-block {
   background-color:rgba(255, 180, 135, 0.5);
}

footer {
    margin-top: 3rem;
}

.delete-button {
    color: red;
}

.delete-skill {
    color: rgb(197, 8, 8);
    margin-left: 0.4rem;
    margin-right: -0.4rem;
}

.delete-asset {
    color: rgb(190, 5, 5);
    margin-left: 0.4rem;
    margin-right: -0.4rem;
}

.edit-asset {
    color: black;
    margin-left: 0.4rem;
    margin-right : -0.5rem;
}

.text-profile {
    font-family: 'Comfortaa', cursive;
}
