<h3>Mot de passe oublié</h3>

<p>Bonjour {{ user.firstname }},</p>

<p>Veuillez cliquer <a href="{{url}}">ici</a> pour définir votre nouveau mot de passe.</p>

<p>Si vous n'êtes pas à l'origine de cette opération, veuillez modifier votre mot de passe dans votre profil.</p>

<p>Merci !</p>

<p>L'équipe d'AdopteUnAlternant</p>