<h3>Validez votre inscription</h3>

<p>Bienvenue sur AdopteUnAlternant.com {{ user.firstname }} !</p>

<p>Pour valider votre inscription, veuillez cliquer <a href="{{url}}">ici</a>.</p>

<p>Merci !</p>

<p>L'équipe d'AdopteUnAlternant</p>
