{% extends 'base.html.twig' %}

{% block title %}Modifier mes informations{% endblock %}

{% block body %}
<div class="col-10 col-md-7 mx-auto my-4">
<p><a href="{{ app.request.headers.get('referer') }}" class="btn btn-dark"><i class="fas fa-arrow-circle-left"></i> Retour</a></p>

<h1>Modifier mes informations personnelles</h1>

{# Formulaire #}
{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_widget(form) }}
        <button type="submit" class="btn btn-secondary mb-2">Valider</button>
{{ form_end(form) }}
    </div>
{% endblock %}