{% extends 'base.html.twig' %}

{% block title %}Adopte un alternant{% endblock %}

{% block body %}
<div class="col-12 col-md-5 mx-auto my-4 home-choice">
    <h1>Oups...</h1>

    <p>
    Désolé ! La page demandée n'existe pas ou a été déplacée. <a href="{{ path('home') }}">Cliquez ici</a> pour retourner à la page d'accueil du site.
    </p>
</div>
{% endblock %}