{% extends 'base.html.twig' %}
{% block title %}Inscription{% endblock %}

{% block body %}
<div class="col-12 col-md-5 mx-auto my-4">
    <h1>Inscription</h1>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_widget(form) }}
                <button type="submit" class="btn btn-secondary mb-2">Valider</button>
    {{ form_end(form) }}
            </div>
        </div>
    <p><a href="{{path('home')}}" class="btn btn-dark"><i class="fas fa-arrow-circle-left"></i> Retour</a></p>
    </div>
</div>
{% endblock %}